{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2" href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <hr class="mt-4 mb-3"/>
    <h1>Create a new lead</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
    </form>
{% endblock content %}